
<div class="container">
    <footer>
        <ul class="nav justify-content-center bg-dark fixed-bottom pb-3 p-2">
            <li class="nav-item"><a class="nav-link px-2 text-muted">© Breakmates</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>
</div>
</body>
</html>