<%- include('partials/header') %>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Contact Us!</h1>
        <br>
        <h3> Get in Touch </h3>
        <p>We're here to help and answer any questions you may have. Whether you're seeking assistance, want to provide feedback, or simply want to connect, there are several ways to reach us: </p>
        <br>
        <h3> We're Here for you </h3>
        <p>Our team is dedicated to providing exceptional support and assistance. Feel free to reach out to us anytime; we're here to make your Breakmates experience the best it can be.</p>
    </div>
</div>

<%- include('partials/footer') %>